/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); */

* {
    background-color: #f2f0ea;
    color: #1a1d20;
    /* letter-spacing: -0.05em; */
    /* font-family: 'jetBrains Mono', monospace; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif; */
    line-height: 1.5;
    font-size: 1em;
    text-shadow: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 5vh 8vw;
}

.disclaimer{
    text-align: center;
    margin-bottom: 8vh;
    font-size: 0.9em;
}

.category_headings, .essay_headings, .poem_headings, .designs_heading, .photos_heading{
    font-size: 1.25em;
    text-underline-offset: 50%;
    margin-bottom: 3vh;
}

a {
    text-decoration: underline dotted grey;
    text-underline-offset: 40%;
}

.footnotes {
    font-size: 1.2em;
    text-decoration: underline solid grey;
    text-underline-offset: 25%;
    margin-bottom: -1em;
}

p{
    text-align: justify;
}

ul{
    list-style-type: square;
}

li {
    margin-bottom: 1.5vh;
}

.essays_div, .poems_div,.designs_div{
    margin-bottom: 8vh;
}

.designs_img{
    height: 24vh;
}

.each_design{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 4vw;
    margin-bottom: 4vh;
}

#ps1{
    font-size: 0.9em;
}
  
.photo_img{
    height: 24vh;
}

.photo_img_div{
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 2.5vh;
}





/* decorative shit */

.homeLink{
    font-size: 0.9em;
    text-decoration: none !important;
}

.topBtn{
    background-color: white;
    border-width: 1px;
    z-index: 1000;
    position: fixed;
    bottom: 5vh; 
    right: 8vw;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0.25em;
    height: 3em;
    width: 3em;
    opacity: 75%;
}

.icon-top{
    width: 2em;
    height: 2em;
    background-color: white;
    margin-bottom: -5px;
}

.top_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #1a1d20 dotted 1px;
    padding-bottom: 1vh;
}
