
html{
    background-color: black;
    font-family: "Fira Code", monospace;
    font-size: 0.75rem;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole{
    background-color:#0d0d0d;
    width: 100%;
    max-width: 780px;
}

.content{
    background-color: #0d0d0d;
    color: #dddddd;
    padding: 2rem;
    overflow: hidden;
    overflow-wrap: break-word;
}

.importstatement{
    font-size: 1.15rem;
}

code{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    line-height: 1.5rem;
}

.key{
    color: #D2323F;
}

.hlt{
    color: #5c6370;
}

.fncontain{
    display: block;
    background-color: black;
}

.filename{
    background-color: rgb(19, 20, 22);
    color: whitesmoke;
    padding: 0.5rem;
    display:flex;
    min-width: fit-content;
    text-align: center;
    max-width: fit-content;
}

.var{
    color: #dddddd;
}

.sym{
    color: whitesmoke;
}

.sym2{
    color: whitesmoke;
}

.string{
    color: #7FC7FF;
}

.int{
    color: #C3E8FF;
}

a{
    text-decoration: none;
    color: inherit;
}

.func{
    color: #C9B3FF;
}

.terminal{
    background-color: rgb(19, 20, 22);
    padding: 1.5rem;
    color: white;
}

.other{
    color: lightgreen;
}

.pic{
    height: 10rem;
}

.tname{
    color: #f1fa8c;
}

.rawlink{
    text-decoration: underline;
}

@media (max-width: 480px){
    html {
        font-size: 0.6rem;
    }
}

@media (max-width: 440px){
    .codeblock{
        overflow-x: auto;
    }
}